* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.calculator_wrapper {
    background-color: rgba(87, 86, 86, 0.182);
    width: 17rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .5rem;
    border-radius: .5rem 0 0 .5rem;
    contain: content;
    border: 1px solid rgba(100, 100, 100, 0.5);
}

.display_input {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-bottom: .5rem;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.upper-items {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

.controls {
    display: flex;
    width: fit-content;
    gap: .5rem;
    color: rgba(250, 240, 230, 0.056);
}

.control {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.close {
    background-color: lightcoral;
}

.minimize {
    background-color: yellow;
}

.restore {
    background-color: lightgreen;
}

.controls:hover {
    color: black;
}

.upper_value, .main_value {
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: none;
}

.upper_value {
    font-size: 1rem;
    height: 1.5rem;
}

.main_value {
    font-size: xx-large;
    padding: .5rem;
    height: 4rem;
    contain: content;
}

.buttons {
    height: 16rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: .25rem;
}

.numbers {
    width: 12rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: .25rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .25rem;
}

.button {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.286);
}

.options {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: .25rem;
}

.option {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.286);
}

.button:hover, 
.option:hover {
    background-color: rgba(45, 45, 45, 0.466);
}

.equal_button,
.equal_button:hover {
    background-color: rgba(144, 238, 144, 0.513);
}

.spa_basic {
    display: grid;
    grid-template-columns: 4fr 1fr; 
}

.calculator_wrapper_extension {
    display: grid;
    grid-template-columns: 0fr .5fr;
}

.external_controls {
    display: none;
    grid-template-rows: 1fr 1fr;
    border-top: 1px solid rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.switch, .reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.switch {
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.extend_button {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: .5rem;
    cursor: pointer;
    border-radius: 0 .5rem .5rem 0;
    background-color: rgba(71, 71, 71, 0.5);
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-left: none;
}

.expand {
    transform: rotate(0deg);
    transition: transform 500ms ease;
}

.contrast {
    transform: rotate(180deg);
    transition: transform 500ms ease;
}

.off {
    color: lightgreen;
}

.on {
    color: lightcoral;
}

